
// Breakpoints
$xl: 1200px;
$l: 1024px;
$m: 768px;
$s: 500px;

$fixedHeader: true;

// Header Height
$desktop-header-height: 150px;
$mobile-header-height: 110px;

// Line Height
$line-height: 1.6;

// Animation
$speed: 300ms;
$speed-slow: 600ms;
$easing: ease-in-out;

// Colors
$gray: #666;

$blue: #4480FF;
