<section class="mod mod--post_feed">

	<div class="container">

	    <div class="post-feed">

	        {% for post in module.posts %}

				{{ include('/template-parts/post.twig', { post : post }) }}

	        {% endfor %}

	    </div>
	    <!-- /.post-listing -->

	</div>
	<!-- /.container -->

</section>
