<section class="mod mod--callout">

	<div class="container">
		<div class="width-set">
			{% if module.content %}
			<div class="content wysiwyg">{{ module.content }}</div><!-- /.content -->
			{% endif %}
		</div>
		<!-- /.width-set -->


	</div><!-- /.container -->

</section>